<div>
    <h3 class="text-center">WELCOME</h3>
    <p class="text-center">
        Auto service ...
        <br>
        This is place for your text
    </p>
</div>
<br>

<hr>
<div class="row justify-content-center col-md-12">
    <div class="col-md-10">
        <div class="media">
            <div class="media-body">
                <h5 class="mt-0">Mechanics</h5>
                Text for your mechanic skills and what can you do in your shop
            </div>
        </div><br>
        <div class="media">
            <div class="media-body">
                <h5 class="mt-0">Electronics</h5>
                Text for your electronics skills and what can you do in your shop
            </div>
        </div><br>
        <div class="media">
            <div class="media-body">
                <h5 class="mt-0">Tuning</h5>
                Text for your tuning skills and your expiriance in tuning
            </div>
        </div>

    </div>
</div>
<hr>
<footer class="mainfooter">
    <div class="footer-middle">
        <div class="container">
            <div class="col-md-6 col-sm-12">
                <div class="footer-pad ">
                    <h4>Contact</h4>
                    <div class="d-flex justify-content-center mt-3">
                        <span>
                            Phone 1: 000000000
                        </span>
                        <span class=" ml-auto">
                            Phone 2: 111111111
                        </span>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <span>
                            Email: example@example.com
                        </span>
                        <span class=" ml-auto">
                            Address: example 123/2
                        </span>
                    </div>
                </div>
            </div>   
        </div>
    </div>

</footer>
