<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['']">AUTO SERVIS</a>
    <a class="nav-link" [routerLink]="['vehicles']" routerLinkActive="active" *ngIf="carService.loggedIn();">Vehicles</a>
    <a class="nav-link" [routerLink]="['create']" routerLinkActive="active" *ngIf="carService.loggedIn();">Create</a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"
         id="navbarNav">
        <ul class="navbar-nav ml-auto headerNav">
            <li class="nav-item" *ngIf="!carService.loggedIn();">
                <a class="nav-link" [routerLink]="['register']" routerLinkActive="active">Register</a>
            </li>
            <li class="nav-item" *ngIf="!carService.loggedIn();">
                <a class="nav-link" [routerLink]="['login']" routerLinkActive="active">Login</a>
            </li>
            <li class="navbar-nav ml-auto headerNav"
                *ngIf="carService.loggedIn();"
                dropdown>
                <a class="nav-link" [routerLink]="['editUser']"
                routerLinkActive="active">
                     Welcome {{carService.currentUser?.username}}
                </a>
                <!-- <a class="dropdown-item"
                    [routerLink]="['reset-password']"
                    routerLinkActive="active"><i class="fas fa-key"></i> Reset Password</a>
                <a class="dropdown-item"
                    [routerLink]="['employer-edit']"
                    routerLinkActive="active"><i class="fas fa-user-edit"></i> Edit Profile</a> -->
                <a class="nav-link"
                    (click)="logout();">Logout</a>
            </li>

        </ul>
    </div>
</nav>