<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" [routerLink]="['']">AUTO SERVIS</a>
        <ul class="navbar-nav headerNav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['vehicles']" routerLinkActive="active" *ngIf="carService.loggedIn();">Vehicles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['create']" routerLinkActive="active" *ngIf="carService.loggedIn();">Create</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto headerNav">
            <li class="nav-item" *ngIf="!carService.loggedIn();">
                <a class="nav-link" [routerLink]="['register']" routerLinkActive="active">Register</a>
            </li>
            <li class="nav-item" *ngIf="!carService.loggedIn();">
                <a class="nav-link" [routerLink]="['login']" routerLinkActive="active">Login</a>
            </li>
            <li class="nav-item" *ngIf="carService.loggedIn();">
                <a class="nav-link" [routerLink]="['editUser']"
                routerLinkActive="active">
                    Welcome {{carService.currentUser?.username}}
                </a>
            </li>
            <li class="nav-item" *ngIf="carService.loggedIn();">
                <a class="nav-link"
                    (click)="logout();">Logout</a>
            </li>
        </ul>
    </nav>
</body>
</html>