<div>
    <form class="form">
        <label>Id vozila:</label>
        <input type="number" name="vehicleId" [(ngModel)]="vehicle.id">
        <label>Proizvodjac(marka):</label>
        <input type="text" name="vehicleManufacturer" [(ngModel)]="vehicle.manufacturer">
        <label>tip vozila:</label>
        <input type="text" name="vehicleType" [(ngModel)]="vehicle.type">
        <label>Registarska oznaka:</label>
        <input type="text" name="vehiclePlateNumber" [(ngModel)]="vehicle.plateNumber">
        <label>Opis problema:</label>
        <input type="text" name="vehicleDescription" [(ngModel)]="vehicle.description">
        <button (click)="CreateVehicle()">Save</button>
        <input type="submit" value="Snimi">
    </form>
</div>