<!DOCTYPE html>
<head>
</head>
<body>
    <!-- <app-vehicle-item *ngFor="let vehicle of vehicles" [vehicle] = "vehicle" (deleteVehicle) = "deleteVehicle($event)">

    </app-vehicle-item> -->

    <ul>
        <li *ngFor="let vehicle of vehicles | async">
            {{ vehicle.id }}
            {{ vehicle.manufacturer }}
            {{ vehicle.type }}
            {{ vehicle.description }}
            {{ vehicle.status }}
            <button (click)="onEdit(vehicle.id)">Edit</button>
            <button (click)="onDelete(vehicle.id)">Delete</button>
            <app-respond [vehicle]="vehicle" (respond)="respond($event)"></app-respond>
            <!-- <button name="respondButton">Respond</button> -->
        </li>
        <label class="text-danger" >{{errorMessage}}</label>
    </ul>
</body>